{% extends 'base.html.twig' %}

{% block title %}Mini-Chat - Connexion{% endblock %}

{% block body %}
<form action="{{ path('login') }}" method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div class="form-row align-items-center">
        <div class="col-sm-3 my-1">
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" value="{{ last_username }}" name="_username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        </div>
        <div class="col-sm-3 my-1">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="_password" id="inputPassword" class="form-control" placeholder="Password" required>
        </div>
        <div class="col-auto my-1">
            <button class="btn btn-lg btn-primary" type="submit">
                Login
            </button>
        </div>
    </div>
</form>
{% endblock %}
