.online {
    float: left;
    width: 22%;
    height: 400px;
    background: #ccffcc;
    border: 2px solid black;
}

.online ul {
    margin-top: 5px;
    padding-left: 20px;
}

#user {
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
}

.messages {
    float: right;
    width: 75%;
    height: 400px;
    background: #ccccff;
    border: 2px solid black;
    margin-right: 5px;
}

.messages #message_a_envoyer {
    border-top: 2px solid black;
    margin-top: 10px;
    padding: 5px;

}

.messages #afficher_message {
    border-top: 2px solid black;
    margin-top: 10px;
    padding: 5px;
    overflow: auto;
    background: #ffffff;
}

.messages .non_connecte {
    height: 350px;
}

.messages .connecte {
    height: 300px;
}

.date_heure_message {
    font: 15px/1.5 sans-serif;
}

.auteur_message {
    font-weight: bolder;
}