{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/chat.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/profil.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title %}Chat index{% endblock %}

{% block body %}
    {% set class_affiche_message = "non_connecte" %}
    <div class="base">

        <div id="user">
            {% if app.user %}
                <a class="btn btn-outline-info btn-lg allUppercase"
                   href="{{ path("user_edit", { 'id': app.user.id }) }}">Mon Profil
                </a>
                <a class="btn btn-outline-info btn-lg allUppercase" href="{{ path("logoutUser") }}">Se Deconnecter</a>

                {% set class_affiche_message = "connecte" %}
            {% else %}
                <a class="btn btn-outline-info btn-lg allUppercase" href="{{ path('login') }}">se connecter</a>
                ou
                <a class="btn btn-outline-info btn-lg allUppercase" href="{{ path('creerCompte') }}">Créer un compte</a>
            {% endif %}
        </div>

        <div class="online">
            <ul>
                {% for userOnline in usersOnline %}
                    <li>{{ userOnline.username }}</li>
                {% else %}
                    <span>No users online</span>
                {% endfor %}
            </ul>
        </div>

        <div class="messages">
            <div>
                {% if app.session.get('addNMessages') is not null %}
                    {% set addNMessages = app.session.get('addNMessages') %}
                {% else %}
                    {% set addNMessages = 0 %}
                {% endif %}

                <form action="{{ path('chat_index') }}" method="post">
                    nombre de messages à ajouter :
                    <input type="text" name="add_n_messages" value="{{ addNMessages }}"/>
                    <input type="submit" value="Actualiser"/>
                </form>
            </div>

            {% if app.user %}
                <div id="message_a_envoyer">
                    <form action="{{ path('chat_new') }}" method="post">
                        Votre message :
                        <input type="text" name="message"/>
                        <input type="submit" value="Envoyer"/>
                    </form>
                </div>
            {% endif %}
            <div id="afficher_message" class="{{ class_affiche_message }}">
                {% for chat in chats %}
                    <span class="date_heure_message">[{{ chat.at ? chat.at|date('Y/m/d à H:i:s') : '' }}]</span>
                    <span class="auteur_message">{{ chat.user.username }}</span> : {{ chat.message }}
                    <br/>
                {% else %}
                    <span>No records found !!</span>
                {% endfor %}

            </div>
        </div>
    </div>
    {#/*********************************************************/#}
    <a href="{{ path('chat_new') }}">Create new</a>
{% endblock %}
