<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
              integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
              crossorigin="anonymous">
        <link href="{{ asset('css/global.css') }}" rel="stylesheet"/>
    {% endblock %}

    <title>{% block title %}Welcome!{% endblock %}</title>
</head>
<body>
<div class="container">
    {% block entete %}
        <h1>
            <a class="btn btn-secondary btn-lg btn-block miniChatTitle allUppercase" href="{{ path('homepage') }}">Mini-Chat</a>
        </h1>
    {% endblock %}
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</div>
</body>
</html>
