{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="form-group">
        <h3>Creation compte</h3>
        <ul>
            {% for listeUsername in listUsernames %}
                <li>{{ listeUsername }}</li>
            {% endfor %}
        </ul>
        {{ include('user/_form.html.twig') }}
    </div>

{% endblock %}
